
.ps-scrollbar-y-rail
  &:hover
    .ps-scrollbar-y
      right 2px !important

.ps-scrollbar-y
  position: absolute
  right 0 !important
  border-radius 0 !important
  &:active, &:focus
    right 2px !important
